.newCategory {
    flex: 4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.45);
    margin: auto;
}

.newCategoryItem {
    display: flex;
    width: 350px;
    flex-direction: column;
}

.newCategoryItem label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #495057;
}

.newCategoryItem input {
    padding: 10px 14px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}
